.color-bar {
  background-color: #6696c8;
  height: 250px;
  border-top: 1px solid white;
}

.section-title {
  padding-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

.content-container-currency {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -125px;
  margin-bottom: 25px;
  min-height: 250px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.chart-container {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  
  border-radius: 10px;
  border: 1px solid #ccc;
  position: relative;
}

@media (min-width: 992px) {
  .content-container-currency, .chart-container {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .content-container-currency, .chart-container {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (min-width: 900px) {
  .section-title {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 576px) {
  .content-container-currency, .chart-container {
    margin-bottom: 50px;
  }
}

.label {
  font-weight: bold;
}

.output-container {
  margin-top: 35px;
  padding-left: 12px;
}

.output-label {
  color: #888;
}

.converted-label {
  color: #457ab1;
}